<!DOCTYPE html>
<html ng-app="sos">
  <head>
    <!-- <%= stylesheet_link_tag 'application'  %> -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <a href='/'><title>&#60;sos&#62;</title></a>

  </head>
  <body ng-controller="RequestsController as ctrl" ng-cloak>


    <nav>
        <div class="nav-wrapper red">
          <a href="" class="brand-logo"> &#60;sos&#62; </a>
          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if logged_in? %>
              <li><a href="" class="white-text"><%= "Logged in as #{current_user.email}" %></a></li>
              <li><a href="/logout" class="white-text">Log Out</li>
            <% else %>
              <li><a href="/login" class="white-text">Log In</a></li>
              <li><a href="/users/new" class="white-text">Sign Up</a></li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <% if logged_in? %>
              <li><a href="" class="black-text"><%= "Logged in as #{current_user.email}" %></a></li>
              <li><a href="/logout" class="black-text">Log Out</li>
            <% else %>
              <li><a href="/login" class="black-text">Log In</a></li>
              <li><a href="/users/new" class="black-text">Sign Up</a></li>
            <% end %>
          </ul>
        </div>
      </nav>

  <div class="hidden">
    <!-- FOR SOME INEXPLICABLE REASON, IF I DELETE THIS EMPTY ANCHOR TAG, MY ENTIRE DOM STRUCTRE FALLS APART -->
    <a></a>
    <p class="flash">
      <%= flash.notice or 'please wait, APIs are slow' %>
    </p>
  </div>

    <%= yield %>

<!-- switch for minified version when moving to production -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Compiled and minified materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- <%= javascript_include_tag 'application'  %> -->
<%= javascript_include_tag 'angularApp'  %>
<%= javascript_include_tag 'ng-file-upload'  %>

  </body>
</html>
